<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/auth" class="formLogin">

         <input name="inputMail" placeholder="email" class="inputMail">
        <input name="inputPassword" placeholder="mot de passe" class="inputPassword">
        
        <button type="submit" class="btnAuth">S'authentifier</button>
    </form>
    
</body>
</html>